In [1]:
#import Prof's dataset of fakebook reviews

import pandas as pd
df = pd.read_csv('C:/Users/Abbas/Downloads/Train (2).csv')
df.head()

,date,title,text,type
0,2016-03-11,Governor extends Flint water emergency as stat...,WASHINGTON (Reuters) - Michigan Governor Rick ...,real
1,2017-10-09,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",Democrats are calling for President Trump s sc...,fake
2,2018-02-01,Mexico recognizes Honduran president as winner...,MEXICO CITY (Reuters) - Mexico recognized Hond...,real
3,2016-11-20,BOOM! Wikileaks Shows Hillary Speech To Banker...,No wonder she didn t want anyone to see her sp...,fake
4,2017-07-06,Paul Ryan says confident tax reform will pass ...,WASHINGTON (Reuters) - Republicans will be abl...,real

In [2]:
df.shape

(38000, 4)

In [3]:
#Lets remove if there is some null values

df = df[df['title'].notnull()]
df = df[df['date'].notnull()]
df = df[df['text'].notnull()]
df = df[df['type'].notnull()]

In [4]:
df.shape

(37466, 4)

In [5]:
df.type.value_counts()

fake    19332
real    18134
Name: type, dtype: int64

Text preprocessing - removal of stop words, lemmetization, lower case

In [6]:
#import dictionary of stop words

import nltk
nltk.download('stopwords')
import nltk
from nltk.corpus import stopwords
set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abbas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [7]:
#removing stop words

import pandas as pd
from nltk.corpus import stopwords

stop = stopwords.words('english')

df["text"] = df["text"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

df.head()

,date,title,text,type
0,2016-03-11,Governor extends Flint water emergency as stat...,WASHINGTON (Reuters) - Michigan Governor Rick ...,real
1,2017-10-09,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",Democrats calling President Trump scalp pardon...,fake
2,2018-02-01,Mexico recognizes Honduran president as winner...,MEXICO CITY (Reuters) - Mexico recognized Hond...,real
3,2016-11-20,BOOM! Wikileaks Shows Hillary Speech To Banker...,No wonder want anyone see speeches. She singin...,fake
4,2017-07-06,Paul Ryan says confident tax reform will pass ...,WASHINGTON (Reuters) - Republicans able push t...,real

In [8]:
#change to lower case

df['text']= df['text'].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [9]:
df.head()

,date,title,text,type
0,2016-03-11,Governor extends Flint water emergency as stat...,washington (reuters) - michigan governor rick ...,real
1,2017-10-09,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",democrats calling president trump scalp pardon...,fake
2,2018-02-01,Mexico recognizes Honduran president as winner...,mexico city (reuters) - mexico recognized hond...,real
3,2016-11-20,BOOM! Wikileaks Shows Hillary Speech To Banker...,no wonder want anyone see speeches. she singin...,fake
4,2017-07-06,Paul Ryan says confident tax reform will pass ...,washington (reuters) - republicans able push t...,real

In [10]:
 # Removes punctuation
df['text']= df['text'].str.replace('[^\w\s]','')
 #removes HTML Tags
df['text']= df['text'].str.replace('<.*?>','')
 #removes numbers
df['text']= df['text'].str.replace('\d+','')

In [11]:
#removal of other unncessary words

other_stop_words = ['get', 'would', 'got', 'made', 'doesnt', 'got']
df['text'] = df['text'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))
df.head()

,date,title,text,type
0,2016-03-11,Governor extends Flint water emergency as stat...,washington reuters michigan governor rick snyd...,real
1,2017-10-09,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",democrats calling president trump scalp pardon...,fake
2,2018-02-01,Mexico recognizes Honduran president as winner...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20,BOOM! Wikileaks Shows Hillary Speech To Banker...,no wonder want anyone see speeches she singing...,fake
4,2017-07-06,Paul Ryan says confident tax reform will pass ...,washington reuters republicans able push tax r...,real

In [12]:
from textblob import TextBlob
from textblob import Word

In [13]:
# Perform Lemmatization
df['text'] = df['text'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))
df.head()

,date,title,text,type
0,2016-03-11,Governor extends Flint water emergency as stat...,washington reuters michigan governor rick snyd...,real
1,2017-10-09,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",democrat calling president trump scalp pardone...,fake
2,2018-02-01,Mexico recognizes Honduran president as winner...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20,BOOM! Wikileaks Shows Hillary Speech To Banker...,no wonder want anyone see speech she singing p...,fake
4,2017-07-06,Paul Ryan says confident tax reform will pass ...,washington reuters republican able push tax re...,real

In [22]:
import nltk

Method 1- to encode text to numbers
Feature Generation using Bag of Words

In the Text Classification Problem, we have a set of texts and their respective labels. But we directly can't use text for our model. You need to convert these text into some numbers or vectors of numbers.

Bag-of-words model(BoW ) is the simplest way of extracting features from the text. BoW converts text into the matrix of occurrence of words within a document. This model concerns about whether given words occurred or not in the document.

In [14]:
#generate document term matrix by using scikit-learn's CountVectorizer.

from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')

#tokenizer to remove unwanted elements from out data like symbols and numbers

cv = CountVectorizer(lowercase=False,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts= cv.fit_transform(df['text'])

In [15]:
X=text_counts
Y=df.type

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,Y, test_size=0.3, random_state=1)

In [17]:
# MultiNominalNB Model
from sklearn.naive_bayes import MultinomialNB
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
clf = MultinomialNB().fit(X_train, y_train)
predicted= clf.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

MultinomialNB Accuracy: 0.9508896797153025

Below we will fit our test file(preprocessed using above code) on our trained model and see the results.

In [18]:
df_test= pd.read_csv('C:/Users/Abbas/Downloads/Test_afternull.csv')
df_test.shape

(3000, 4)

In [19]:
df_test.isnull().sum(axis = 0)

Unnamed: 0    0
date          0
title         0
text          0
dtype: int64

In [20]:
#generate document term matrix by using scikit-learn's CountVectorizer.

from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')

#tokenizer to remove unwanted elements from out data like symbols and numbers
#vect = CountVectorizer()
#cv = CountVectorizer(lowercase=False,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
#cv = CountVectorizer()
test_text_counts= cv.transform(df_test['text'])
#title_counts= cv.fit_transform(df['title'])

In [21]:
X=text_counts
Y=df.type

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,Y, test_size=0.3, random_state=1)

In [23]:
# MultiNominalNB Model
from sklearn.naive_bayes import MultinomialNB
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
predicted= clf.predict(test_text_counts)

In [24]:
predicted

array(['real', 'fake', 'fake', ..., 'fake', 'fake', 'real'], dtype='<U4')

In [25]:
# Random Forest Model

from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(n_estimators=100, 
                               bootstrap = True,
                               max_features = 'sqrt')

clf=model_rf.fit(X_train, y_train)

predicted_rf= clf.predict(test_text_counts)
predicted_rf

array(['fake', 'fake', 'fake', ..., 'fake', 'fake', 'real'], dtype=object)

In [26]:
# Support Vector Classifier Model
from sklearn.svm import SVC  
model_svc = SVC(kernel='linear') 
  
# Fit on training data
clf=model_svc.fit(X_train, y_train)

In [27]:
predicted_svc= clf.predict(test_text_counts)
predicted_svc

array(['fake', 'fake', 'fake', ..., 'fake', 'fake', 'fake'], dtype=object)