In [135]:
#import Prof's dataset of fakebook reviews

import pandas as pd
df = pd.read_excel('C:/Users/Abbas/Desktop/ML Proj/fakebook_rev.xlsx')
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency as stat...,WASHINGTON (Reuters) - Michigan Governor Rick ...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",Democrats are calling for President Trump s sc...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president as winner...,MEXICO CITY (Reuters) - Mexico recognized Hond...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,No wonder she didn t want anyone to see her sp...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform will pass ...,WASHINGTON (Reuters) - Republicans will be abl...,real

In [51]:
df.shape

(38016, 4)

In [136]:
#Lets remove if there is some null values

df = df[df['title'].notnull()]
df = df[df['date'].notnull()]
df = df[df['text'].notnull()]
df = df[df['type'].notnull()]

In [53]:
df.shape

(37466, 4)

Text preprocessing - removal of stop words, lemmetization, lower case

In [137]:
#import dictionary of stop words

import nltk
nltk.download('stopwords')
import nltk
from nltk.corpus import stopwords
set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abbas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [138]:
#removing stop words

import pandas as pd
from nltk.corpus import stopwords

stop = stopwords.words('english')

#df["title"] = df["title"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df["text"] = df["text"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency as stat...,WASHINGTON (Reuters) - Michigan Governor Rick ...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",Democrats calling President Trump scalp pardon...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president as winner...,MEXICO CITY (Reuters) - Mexico recognized Hond...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,No wonder want anyone see speeches. She singin...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform will pass ...,WASHINGTON (Reuters) - Republicans able push t...,real

In [139]:
#change to lower case

#df['title']= df['title'].apply(lambda x: " ".join(word.lower() for word in x.split()))
df['text']= df['text'].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [140]:
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency as stat...,washington (reuters) - michigan governor rick ...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",democrats calling president trump scalp pardon...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president as winner...,mexico city (reuters) - mexico recognized hond...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,no wonder want anyone see speeches. she singin...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform will pass ...,washington (reuters) - republicans able push t...,real

In [141]:
#removal of other unncessary words

#df['title']= df['title'].str.replace('[^\w\s]','') # Removes punctuation
df['text']= df['text'].str.replace('[^\w\s]','')

#df['title']= df['title'].str.replace('<.*?>','') #removes HTML Tags
df['text']= df['text'].str.replace('<.*?>','')

#df['title']= df['title'].str.replace('\d+','') #removes numbers
df['text']= df['text'].str.replace('\d+','')

In [59]:
#removal of other unncessary words

other_stop_words = ['get', 'would', 'got', 'made', 'doesnt', 'got']
#df['title'] = df['title'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))
df['text'] = df['text'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,governor extends flint water emergency state a...,washington reuters michigan governor rick snyd...,real
1,2017-10-09 00:00:00,democrats conveniently forget prisoners obama ...,democrats calling president trump scalp pardon...,fake
2,2018-02-01 00:00:00,mexico recognizes honduran president winner di...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20 00:00:00,boom wikileaks shows hillary speech to bankers...,no wonder want anyone see speeches she singing...,fake
4,2017-07-06 00:00:00,paul ryan says confident tax reform pass axios,washington reuters republicans able push tax r...,real

In [14]:
#import pandas as pd
#from nltk.stem.snowball import SnowballStemmer

# Use English stemmer.
#stemmer = SnowballStemmer("english")
#df['title'] = df['title'].apply(lambda x: [stemmer.stem(y) for y in x]) # Stem every word.
#df['text'] = df['text'].apply(lambda x: [stemmer.stem(y) for y in x]) # Stem every word.
#df.head()

,date,title,text,type
0,2016-03-11 00:00:00,"[g, o, v, e, r, n, o, r, , e, x, t, e, n, d, ...","[g, o, v, e, r, n, o, r, , e, x, t, e, n, d, ...",real
1,2017-10-09 00:00:00,"[d, e, m, o, c, r, a, t, s, , c, o, n, v, e, ...","[d, e, m, o, c, r, a, t, s, , c, o, n, v, e, ...",fake
2,2018-02-01 00:00:00,"[m, e, x, i, c, o, , r, e, c, o, g, n, i, z, ...","[m, e, x, i, c, o, , r, e, c, o, g, n, i, z, ...",real
3,2016-11-20 00:00:00,"[b, o, o, m, , w, i, k, i, l, e, a, k, s, , ...","[b, o, o, m, , w, i, k, i, l, e, a, k, s, , ...",fake
4,2017-07-06 00:00:00,"[p, a, u, l, , r, y, a, n, , s, a, y, s, , ...","[p, a, u, l, , r, y, a, n, , s, a, y, s, , ...",real

In [142]:
from textblob import TextBlob
from textblob import Word

In [144]:
# Perform Lemmatization

#df['title'] = df['title'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))
df['text'] = df['text'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))

df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency as stat...,washington reuters michigan governor rick snyd...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",democrat calling president trump scalp pardone...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president as winner...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,no wonder want anyone see speech she singing p...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform will pass ...,washington reuters republican able push tax re...,real

In [ ]:
#df.to_csv('C:/Users/abbas/Desktop/train_fakebook_clean.csv')

In [ ]:
# MENTIONED IN PROF'S GUIDLINE: Note that this is a binary classification problem with the output labels being ”fake” or ”real”. 
# My Suggestion: in 'type' column, changing fake = 0 and real = 1 as output for an easy binary classification
# Next steps suggestion :Convert 'title' column, 'text' column into numbers/vectors/token (prof suggested one hot encoding, but we can use any other encoding method)
# Applying ML models to generate 0(fake) or 1(real) as a output on test data

In [62]:
import nltk

In [30]:
# Word Tokenization
#from nltk.tokenize import sent_tokenize
#df['text'] = df.apply(lambda row: nltk.word_tokenize(row['text']), axis=1)
#df['title'] = df.apply(lambda row: nltk.word_tokenize(row['title']), axis=1)
#df.head()

,date,title,text,type
0,2016-03-11 00:00:00,"[governor, extends, flint, water, emergency, s...","[governor, extends, flint, water, emergency, s...",real
1,2017-10-09 00:00:00,"[democrat, conveniently, forget, prisoner, oba...","[democrat, conveniently, forget, prisoner, oba...",fake
2,2018-02-01 00:00:00,"[mexico, recognizes, honduran, president, winn...","[mexico, recognizes, honduran, president, winn...",real
3,2016-11-20 00:00:00,"[boom, wikileaks, show, hillary, speech, to, b...","[boom, wikileaks, show, hillary, speech, to, b...",fake
4,2017-07-06 00:00:00,"[paul, ryan, say, confident, tax, reform, pas,...","[paul, ryan, say, confident, tax, reform, pas,...",real

Method 1- to encode text to numbers
Feature Generation using Bag of Words

In the Text Classification Problem, we have a set of texts and their respective labels. But we directly can't use text for our model. You need to convert these text into some numbers or vectors of numbers.

Bag-of-words model(BoW ) is the simplest way of extracting features from the text. BoW converts text into the matrix of occurrence of words within a document. This model concerns about whether given words occurred or not in the document.

In [182]:
#generate document term matrix by using scikit-learn's CountVectorizer.

from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')

#tokenizer to remove unwanted elements from out data like symbols and numbers

cv = CountVectorizer(lowercase=False,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts= cv.fit_transform(df['text'])
#title_counts= cv.fit_transform(df['title'])

In [183]:
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency as stat...,washington reuters michigan governor rick snyd...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",democrat calling president trump scalp pardone...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president as winner...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,no wonder want anyone see speech she singing p...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform will pass ...,washington reuters republican able push tax re...,real

In [184]:
X=text_counts
Y=df.type

In [185]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,Y, test_size=0.3, random_state=1)

In [186]:

from sklearn.naive_bayes import MultinomialNB
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
clf = MultinomialNB().fit(X_train, y_train)
predicted= clf.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

MultinomialNB Accuracy: 0.9568505338078291

Method 2- to encode text to numbers

Feature Generation using TF-IDF
This encdoing method give slight better result that method 1

In [181]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
text_tf= tf.fit_transform(df['text'])

In [104]:
#title_tf= tf.fit_transform(df['title'])

In [155]:
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency as stat...,washington reuters michigan governor rick snyd...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",democrat calling president trump scalp pardone...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president as winner...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,no wonder want anyone see speech she singing p...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform will pass ...,washington reuters republican able push tax re...,real

In [156]:
X=text_tf
Y=df.type

In [157]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,Y, test_size=0.3, random_state=123)

In [158]:
pd.DataFrame(X_test).head()

                                                   0
0    (0, 160842)\t0.07656818702503014\n  (0, 3551...
1    (0, 186849)\t0.21704028547405235\n  (0, 4839...
2    (0, 162946)\t0.0892689900795546\n  (0, 22885...
3    (0, 175886)\t0.12525183247691885\n  (0, 1353...
4    (0, 39305)\t0.34630092486600944\n  (0, 12733...

In [166]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
clf = MultinomialNB().fit(X_train, y_train)
predicted= clf.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

MultinomialNB Accuracy: 0.9648576512455516

In [159]:
#pd.DataFrame(test_text_tf).head()

Below we will fit our test file(new data set which prof will give) on our trained model and see the results.

In [165]:
df_test= pd.read_csv('C:/Users/Abbas/Desktop/test_fakebook_clean.csv')
df_test.head()

,Unnamed: 0,date,title,text
0,0,3/11/16,governor extends flint water emergency state a...,washington reuters michigan governor rick snyd...
1,1,10/9/17,democrat conveniently forget prisoner obama pa...,democrat calling president trump scalp pardone...
2,2,2/1/18,mexico recognizes honduran president winner di...,mexico city reuters mexico recognized honduran...
3,3,11/20/16,boom wikileaks show hillary speech to bankersi...,no wonder want anyone see speech she singing p...
4,4,7/6/17,paul ryan say confident tax reform pas axios,washington reuters republican able push tax re...

Feature Generation using Bag of Words

In the Text Classification Problem, we have a set of texts and their respective labels. But we directly can't use text for our model. You need to convert these text into some numbers or vectors of numbers.

Bag-of-words model(BoW ) is the simplest way of extracting features from the text. BoW converts text into the matrix of occurrence of words within a document. This model concerns about whether given words occurred or not in the document.

In [187]:
#generate document term matrix by using scikit-learn's CountVectorizer.

from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')

#tokenizer to remove unwanted elements from out data like symbols and numbers
#vect = CountVectorizer()
#cv = CountVectorizer(lowercase=False,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
#cv = CountVectorizer()
test_text_counts= cv.transform(df_test['text'])
#title_counts= cv.fit_transform(df['title'])

In [188]:
X=text_counts
Y=df.type

In [189]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,Y, test_size=0.3, random_state=1)

In [197]:
#pd.DataFrame(X_test).head(2)

In [196]:
#pd.DataFrame(test_text_counts).head(2)

In [194]:
from sklearn.naive_bayes import MultinomialNB
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
#clf = MultinomialNB().fit(X_train, y_train)
predicted= clf.predict(test_text_counts)
#print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

In [195]:
predicted

array(['real', 'fake', 'real', 'fake', 'real', 'real', 'real', 'fake',
       'fake', 'real', 'fake', 'real', 'fake', 'real', 'fake', 'fake',
       'real', 'real', 'real', 'real', 'real', 'fake', 'fake', 'real',
       'fake', 'real', 'fake', 'real', 'real', 'real', 'real', 'fake',
       'fake', 'real', 'real', 'fake', 'fake', 'real', 'real', 'fake',
       'real', 'fake', 'real', 'fake', 'fake', 'real', 'real', 'real',
       'real'], dtype='<U171')