In [1]:
#import Prof's dataset of fakebook reviews

import pandas as pd
df = pd.read_excel('C:/Users/Abbas/Desktop/ML Proj/fakebook_rev.xlsx')
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency as stat...,WASHINGTON (Reuters) - Michigan Governor Rick ...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",Democrats are calling for President Trump s sc...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president as winner...,MEXICO CITY (Reuters) - Mexico recognized Hond...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,No wonder she didn t want anyone to see her sp...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform will pass ...,WASHINGTON (Reuters) - Republicans will be abl...,real

In [3]:
df.shape

(38016, 4)

In [4]:
#Lets remove if there is some null values

df = df[df['title'].notnull()]
df = df[df['date'].notnull()]
df = df[df['text'].notnull()]
df = df[df['type'].notnull()]

In [5]:
df.shape

(37466, 4)

Text preprocessing - removal of stop words, lemmetization, lower case

In [14]:
#import dictionary of stop words

import nltk
nltk.download('stopwords')
import nltk
from nltk.corpus import stopwords
set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abbas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [7]:
#removing stop words

import pandas as pd
from nltk.corpus import stopwords

stop = stopwords.words('english')

df["title"] = df["title"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df["text"] = df["text"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

df.head()

,date,title,text,type
0,2016-03-11 00:00:00,Governor extends Flint water emergency state a...,WASHINGTON (Reuters) - Michigan Governor Rick ...,real
1,2017-10-09 00:00:00,"DEMOCRATS CONVENIENTLY FORGET 6,000 Prisoners ...",Democrats calling President Trump scalp pardon...,fake
2,2018-02-01 00:00:00,Mexico recognizes Honduran president winner di...,MEXICO CITY (Reuters) - Mexico recognized Hond...,real
3,2016-11-20 00:00:00,BOOM! Wikileaks Shows Hillary Speech To Banker...,No wonder want anyone see speeches. She singin...,fake
4,2017-07-06 00:00:00,Paul Ryan says confident tax reform pass 2017:...,WASHINGTON (Reuters) - Republicans able push t...,real

In [8]:
#change to lower case

df['title']= df['title'].apply(lambda x: " ".join(word.lower() for word in x.split()))
df['text']= df['text'].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [9]:
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,governor extends flint water emergency state a...,washington (reuters) - michigan governor rick ...,real
1,2017-10-09 00:00:00,"democrats conveniently forget 6,000 prisoners ...",democrats calling president trump scalp pardon...,fake
2,2018-02-01 00:00:00,mexico recognizes honduran president winner di...,mexico city (reuters) - mexico recognized hond...,real
3,2016-11-20 00:00:00,boom! wikileaks shows hillary speech to banker...,no wonder want anyone see speeches. she singin...,fake
4,2017-07-06 00:00:00,paul ryan says confident tax reform pass 2017:...,washington (reuters) - republicans able push t...,real

In [10]:
#removal of other unncessary words

df['title']= df['title'].str.replace('[^\w\s]','')
df['text']= df['text'].str.replace('[^\w\s]','')

In [11]:
#removal of other unncessary words

other_stop_words = ['get', 'would', 'got', 'made', 'doesnt', 'got']
df['title'] = df['title'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))
df['text'] = df['text'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))
df.head()

,date,title,text,type
0,2016-03-11 00:00:00,governor extends flint water emergency state a...,washington reuters michigan governor rick snyd...,real
1,2017-10-09 00:00:00,democrats conveniently forget 6000 prisoners o...,democrats calling president trump scalp pardon...,fake
2,2018-02-01 00:00:00,mexico recognizes honduran president winner di...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20 00:00:00,boom wikileaks shows hillary speech to bankers...,no wonder want anyone see speeches she singing...,fake
4,2017-07-06 00:00:00,paul ryan says confident tax reform pass 2017 ...,washington reuters republicans able push tax r...,real

In [13]:
from textblob import TextBlob
from textblob import Word

In [14]:
# Perform Lemmatization

df['title'] = df['title'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))
df['text'] = df['text'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))

df.head()

,date,title,text,type
0,2016-03-11 00:00:00,governor extends flint water emergency state a...,washington reuters michigan governor rick snyd...,real
1,2017-10-09 00:00:00,democrat conveniently forget 6000 prisoner oba...,democrat calling president trump scalp pardone...,fake
2,2018-02-01 00:00:00,mexico recognizes honduran president winner di...,mexico city reuters mexico recognized honduran...,real
3,2016-11-20 00:00:00,boom wikileaks show hillary speech to bankersâ...,no wonder want anyone see speech she singing p...,fake
4,2017-07-06 00:00:00,paul ryan say confident tax reform pas 2017 axios,washington reuters republican able push tax re...,real

In [ ]:
# MENTIONED IN PROF'S GUIDLINE: Note that this is a binary classification problem with the output labels being ”fake” or ”real”. 
# My Suggestion: in 'type' column, changing fake = 0 and real = 1 as output for an easy binary classification
# Next steps suggestion :Convert 'title' column, 'text' column into numbers/vectors/token (prof suggested one hot encoding, but we can use any other encoding method)
# Applying ML models to generate 0(fake) or 1(real) as a output on test data